/* Global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'volkhov';
    src: url(../font/Volkhov-Regular.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Regular.ttf);
}
html ,body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    line-height: 1.4;
    font-size: 16px;
    
}
body h1,body h2,body h3,body h4{
    font-family: 'volkhov', sans-serif;
}
.transision{
    transition: all 0.5s;
}






/* HEADER  */
header{
    position: relative;
    background-color: #fff;
}
header h1{
    font-size: 32px;
    position: relative;
    color: #fb811e;
    
}
header h1 i{
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 55px;
}
header h1:hover{
    color: #060606;
}
.header__form form{
    padding-right: 30px;
}
#navbarSupportedContent .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    color: #060606;
}
#navbarSupportedContent .navbar-nav{
    width: 128px;
    max-width: 8em;
    background-color: red;
    max-height: 400px;
    position: absolute;
    right: 0;
    overflow: hidden;
}