/* Global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'volkhov';
    src: url(../font/Volkhov-Regular.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Regular.ttf);
}
html ,body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    line-height: 1.4;
    font-size: 16px;
    
}
body h1,body h2,body h3,body h4{
    font-family: 'volkhov', sans-serif;
}
.transision{
    transition: all 0.5s;
}
.title h4{
    font-size: 22px;
    color: #fb811e;
}
.title h2{
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #060606;
}
.title p{
    line-height: 26px;
    color: #707070;
    margin-bottom: 1.5rem;
}
@media screen and (max-width:991px) {
    .title h2{
        line-height: 45px;
        font-size: 35px;   
    }
    .title h4{
        font-size: 20px;
    }
}
@media screen and (max-width:768px) {
    .title h2{
        font-size: 32px !important;
        line-height: 42px !important;
    }
    .title h4{
        font-size: 18px !important;
    }
}
@media screen and (max-width:568px) {
    .title h2{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    
}
.btn__color a{
   font-size: 16px;
   line-height: 26px;
   padding: 12px 30px;
   font-weight: 600;
   background: #fb811e;
   color: #fff;
   border-radius: 30px;
   text-decoration: none;
   margin-bottom: 1.5rem;
   display: inline-block; 
}
.btn__color:hover a{
    background: #009f4d;
}

/* HEADER  */
  





/* Naturally  */
.Naturally{
    padding: 3rem 0 !important;
}
.nat__right{
    text-align: center;
    gap: 20px 0;
}
.nat__right img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
}
.nat__right h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    color: #060606;
}
.nat__item{
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: #fff;
}
.nat__item:hover{
    transition: 0.3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

/* FOOD  */
.food{
   
    background-color: #009f4d;
    padding: 6rem 0;
}
.title__left{
    position: relative;
}
.title__bg__content{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 12vw !important;
    right: 50%;
    bottom: 50%;
    transform: translate(75% , 50%);
}
.food .title p , .food .title h4 , .food .title h2{
    color: #fff !important;
}
.food .title{
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}
@media screen and (max-width:576px) {
    .food .title{
        padding-bottom: 1.5rem;
        margin-bottom: 0rem;
    }
    
}



.food .title p{
    font-size: 1.25rem;
    font-weight: 300;
}
.food__bottom img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.food__item--bottom{
    background: #fff;
    padding: 30px 20px;
    border-radius: 0 0 20px 20px;
}
.food__bg{
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}
.food__item--bottom a{
    display: block;
    color: #060606;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    text-decoration: none;
}
.food__item--bottom a:hover{
    color: #009f4d;
}
.food__item--bottom p:last-of-type{
    font-size: 17px;
    line-height: 27px;
    color: #070707;
}
.food__bottom .row{
    gap: 1.5rem 0;
}

@media screen and (max-width:991px){
    .food__bottom .row .food__flex{
     margin-left: 25%;
    }
 }
 @media screen and (max-width:767px){
     .food__bottom .row .food__flex{
      margin-left: 0;
     }
    
  }



  /* contact  */
  .contact{
    padding: 6rem 0;
  }
 .contact__item1{
    display: flex;
 } 
.contact__item1 span{
    font-size: 30px;
    color: #fb811e;
}
.contact__item1 .contact__text h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
}

.contatc__right{
    
    position: relative;
}
@media (min-width: 992px){
    .contact__flex .col-lg-6:last-of-type{
    
    flex: 0 0 41.66667%;
    margin-left: 8.33333%;
}
}

.contatc__right img{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}
.contact__box h3{
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    color: #fff;

}
.contact__box p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
    margin: 0 1em;

}
.contact__box{
    background-color: #fb811e;
    border-radius: 0 0 100px 0;
    position: absolute;
    left: -85px;
    bottom: 38px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    text-align: center;
    padding: 40px;
}
.contact__content2{
    padding-top: 6rem ;
}
.contact__content2--flex{
    gap: 20px 0;
    margin-top: 30px;
}
.contact__content2 img{
    max-width: 100%;
    height: auto;
}
.contact__content2 a{
    text-decoration: none;
    border-radius: 10px;
    
}
.contact__content2 a h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    color: #060606;
    transition: 0.3s ease-in-out ;
}
.contact__content2 a p{
    margin-top: 10px;
    color: #404040;
    line-height: 1.4;
    font-size: 16px;
}
.contact__item2{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2rem 1rem;
    transition: 0.3s ease-in;
}
.contact__item2:hover h3{
    color: #009f4d;
}
.contact__item2:hover{
    border: 1px solid #eee;  
}
