/* Global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'volkhov';
    src: url(../font/Volkhov-Regular.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../font/SourceSansPro-Regular.ttf);
}
html ,body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
    line-height: 1.4;
    font-size: 16px;
    
}
body h1,body h2,body h3,body h4,body h5{
    font-family: 'volkhov', sans-serif;
}
.transision{
    transition: all 0.5s;
}
.title h4{
    font-size: 22px;
    color: #fb811e;
}
.title h2{
    line-height: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #060606;
}
.title p{
    line-height: 26px;
    color: #707070;
    margin-bottom: 1.5rem;
    font-size: 17px;
}



.btn__color a{
   font-size: 16px;
   line-height: 26px;
   padding: 12px 30px;
   font-weight: 600;
   background: #fb811e;
   color: #fff;
   border-radius: 30px;
   text-decoration: none;
   margin-bottom: 1.5rem;
   display: inline-block; 
   transition: all 0.3s ease-in;
   
}
.btn__color a:hover{
    background: #009f4d;
}

/* HEADER  */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    height: 90px;
    display: grid;
    align-items: center;
    width: 100%;
    
}

.header__form{
    display: flex;
    align-items: center;
}
.header__content .logo i{
    top: 10px;
    left: 55px;
}
 .header__form .header__item1 input{
        background: #fff url(../img/search.png) no-repeat 10px center;
        border: 1px solid #eee;
        padding: 0 10px;
        width: 35px;
        height: 35px;
        border-radius: 10em;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
 }
 .header__form .header__item1 input:focus{
        width: 200px;
        padding-left: 32px;
        color: #000;
        padding-right: 15px;
        cursor: auto;
        background-color: #fff;
        
 }

.header__end{
    position: relative;
    font-size: 29px;
}
.header__end i{
    font-size: 1em;
}
.header__end button{
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    padding-right: 0;
}
.header__nav{
    position: absolute;
    top: 120%;
    right: 0px;
    min-width: 8em;
    z-index: 20;
    
    
    
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
    transition: 0.5s ease-in-out;
    
}

#navbarSupportedContent .navbar-nav{
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    
    
}
#navbarSupportedContent .nav-item .nav-link{
    color: #060606;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}
#navbarSupportedContent .nav-item .nav-link:hover{
    color: #fb811e;
}
#navbarSupportedContent .active .nav-link{
    color: #fb811e;
}
.header__end button{
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
    background: #fff;
    transition: all 0.5s ease-in-out;
    height: 70px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  }
.cd-top--is-visible .navbar-brand{
    color: #060606;
}
.cd-top--is-visible  .header__end i{
    color: #060606;
}

.header__item2{
    color: #fff;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    line-height: 24px;
    
}
#swtich-mode::before{
    font-weight: 600 !important;
}
.header__item2:hover {
    color: #fb811e;
}
.header__item2 span:first-of-type{
    display: none;
}
.cd-top--is-visible .header__item2{
    color: #060606;
}
/* farmcarousel  */
.farmcarousel{
    position: relative;
    height: 100vh;
}
.farmcarousel__content .carousel-caption{
    right: 1em;
    text-align: end;
}
.farmcarousel__content .carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    opacity: 1;
}
.farmcarousel__content .carousel-indicators .active{
   background: #fb811e;  
}
.farmcarousel__left{
    position: absolute;
    z-index: 10;
    left: 10em;
    
}
.farmcarousel__item{
    position: relative;
}
.farmcarousel__left h3{
    line-height: 28px;
    font-size: 100px;
    color: #f4f4f4;
    font-weight: bold;
    margin-left: -0.5em;
    z-index: 0;
    
}
.farmcarousel__left p{
    font-size: 20px;
}
.farmcarousel__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.farmcarousel__content .farmcarousel__right{
    width: 58.333333%;
}
.farmcarousel__content .farmcarousel__left{
    width: 41.666667%;
}
#carouselExampleCaptions .carousel-inner .carousel-item{
    position: relative;
}
.farmcarousel__befor::before{
    content: "";
    background-color: rgb(0 0 0 / 17%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0 0 0 20px;
}
#carouselExampleCaptions .carousel-inner .carousel-item>img{
    height: 100vh;
    
    border-radius: 0 0 0 20px;
    
}

#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5{
    font-size: calc(1.275rem + 0.3vw);
}
#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption span{
    font-size: 1.25rem;
}
#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p{
    font-size: 17px;
}   
/* Naturally  */
.Naturally{
    padding: 6rem 0 !important;
}

.nat__right{
    text-align: center;
    gap: 20px 0;
}
.nat__right img{
    max-width: 65px;
    display: block;
    margin: 0 auto;
}
.nat__right h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    color: #060606;
}
.nat__item{
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: #fff;
    height: 100%;
}
.nat__item:hover{
    transition: 0.3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

/* FOOD  */
.food{
   
    background-color: #009f4d;
    padding: 6rem 0;
}
.title__left{
    position: relative;
}
.title__bg__content{
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: 0.14;
    font-size: 12vw !important;
    right: 50%;
    bottom: 50%;
    transform: translate(75% , 50%);
}
.food .title p , .food .title h4 , .food .title h2{
    color: #fff !important;
}
.food .title{
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}




.food .title p{
    font-size: 1.25rem;
    font-weight: 300;
}
.food__bottom img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.food__item--bottom{
    background: #fff;
    padding: 30px 20px;
    border-radius: 0 0 20px 20px;
}
.food__bg{
    color: #009f4d;
    display: inline-block;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 15px;
    font-weight: 600;
}
.food__item--bottom a{
    display: block;
    color: #060606;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    text-decoration: none;
}
.food__item--bottom a:hover{
    color: #009f4d;
}
.food__item--bottom p:last-of-type{
    font-size: 17px;
    line-height: 27px;
}
.food__bottom .row{
    gap: 1.5rem 0;
}


 



  /* contact  */
  .contact{
    padding: 6rem 0;
  }
 .contact__item1{
    display: flex;
 } 
.contact__item1 span{
    font-size: 30px;
    color: #fb811e;
}
.contact__item1 .contact__text h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    color:#060606;
}

.contatc__right{
    
    position: relative;
}


.contatc__right img{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}
.contact__box h3{
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    color: #fff;

}
.contact__box p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
    margin: 0 1em;

}
.contact__box{
    background-color: #fb811e;
    border-radius: 0 0 100px 0;
    position: absolute;
    left: -85px;
    bottom: 38px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    text-align: center;
    padding: 40px;
}
  

.contact__content2{
    padding-top: 6rem ;
}
.contact__content2--flex{
    gap: 20px 0;
    margin-top: 30px;
}
.contact__content2 img{
    max-width: 100%;
    height: auto;
}
.contact__content2 a{
    text-decoration: none;
    border-radius: 10px;
    
}
.contact__content2 a h3{
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    color: #060606;
    transition: 0.3s ease-in-out ;
}
.contact__content2 a p{
    margin-top: 10px;
    color: #404040;
    line-height: 1.4;
    font-size: 16px;
}
.contact__item2{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 2rem 1rem;
    transition: 0.3s ease-in;
}
.contact__item2:hover h3{
    color: #009f4d;
}
.contact__item2:hover{
    border: 1px solid #eee;  
}
.contact__content3{
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    object-fit: cover;
}
.contact__item3{
    position: relative;
    overflow: hidden;
}
.contact__item3 img{
    width: 100%;
    cursor: pointer;
    
}
.contact__item3 a{
    position: relative;
}

.contact--box{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    text-align: center;
    padding: 6px;
    background: rgb(255 255 255 / 27%);
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
}

.contact__item3::before {
    content: "";
    z-index: 2;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skew(-17deg);
    /* transition:all 0.5s ease-in-out ; */
  }
  .contact__item3:hover::before{
      left: 125%;
      transition: 0.5s ease-in-out;
  }
 
  
  /* banner  */
  .banner{
    background-image: url(../img/bg1.jpg);
    position: relative;
    z-index: 1;
  }

  .banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 100%;
    background-color: rgb(10 10 10 / 52%);
  }
  .banner__content{
    padding-bottom: 6rem;
    padding-top: 1.5rem;
  }
  .banner__item{
    padding: 3rem;
    margin: 3rem 3rem 0 3rem;
    position: relative;
    z-index: 0;
    color:#fff;
  }

 .banner .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fb811e;
}
.banner__left{
    text-align: center;
}
.banner .owl-carousel .owl-item img {
    display: block;
    width: auto;
    max-width: 100%;
}
.banner__left img{
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    object-fit: cover;
    
}
.banner__left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__left h5{
    font-size: 20px;
    margin: 10px 0 5px;
}
.banner__right p:last-of-type{
    text-indent: 30px;
    font-size: 22px;
    line-height: 34px;
}
.banner__right p:first-of-type{
   
    font-size: 20px;
    
    color: #fb811e;
    font-weight: 600;
}



/* Footer  */
footer{
    padding: 4.5rem 0;
}
.footer__content h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #060606;
}
.footer__hover{
    color: #707070;
    transition: all 0.5s ease-in-out;
    
}
.footer__hover:hover{
    color: #fb811e;
    text-decoration: none;
}
.logo {
    color: #fb811e;
    position: relative;
    transition: 0.5s ease-in-out;
    display: inline-block;
    border: none;
    outline: none;
    
}
.logo h2{
    font-size: 32px;
}
.logo i{
    font-size: 20px;
    position: absolute;
    top: 3px;
    left: 35%;
}
.logo:hover{
    color: #060606;
    text-decoration: none;
}
.footer__hover1{
    color: #009f4d;
    transition: 0.5s ease-in;
}
.footer__hover1:hover{
    color: #fb811e;
    text-decoration: none;
}
.footer__icon li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.footer__icon i{
    font-size: 15px;
    line-height: 35px;
    color: #009f4d; 
    transition: 0.5s ease-in-out;
}
.footer__icon a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    text-align: center; 
    transition: 0.5s ease-in-out;
}
.footer__icon a:hover{
    background-color: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
.footer__icon a:hover i{
    color: #fb811e;
}

.footer__form .btn--footer{
    width: 20%;
    background-color: #009f4d;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    border-radius: 0 30px 30px 0;
    transition: 0.5s ease-in-out;
}

.footer__form .btn--footer:hover{
    opacity: 0.8;
}
.footer__form .form--footer{
    background: #f4f4f4;
    padding: 13px 20px;
    font-size: 16px;
    outline: none;
    color: #707070;
    border-radius: 30px 0 0 30px;
    height: 100%;
    border:1px solid #eee;
}
/* back to top  */
.backtotop{
   font-size: 16px;
   text-align: center;
   line-height: 40px;
   width: 40px;
   height: 40px;
   color: #fff;
   background: #009f4d;
   display: inline-block;
   position: fixed;
   bottom: 90px;
   right: 15px;
   border: none;
   outline: none;
   z-index: 20;
   opacity: 0;
   border-radius: 4px;
}
.backtotop:hover{
    opacity: 0.8;
    color: #fff;
}
.cd-top--is-visible1{
    visibility: visible;
    opacity: 1;
}

/* BODY .dark  */

body.dark{
    background: #222222;
    color:#b7b7b7;
}
body.dark .header__nav{
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
}
body.dark #navbarSupportedContent .navbar-nav{
    background: #222222;
}
body.dark #navbarSupportedContent .nav-item .nav-link{
    color: #fff;
}
body.dark #navbarSupportedContent .active .nav-link{
    color: #fb811e;
}
body.dark header.cd-top--is-visible{
    background-color: #222222;
}
body.dark header.cd-top--is-visible .navbar-brand ,body.dark header.cd-top--is-visible .header__end i,body.dark header.cd-top--is-visible .header__form i{
    color: #fff;
}
body.dark .farmcarousel h3{
    color: #0b0d0e;
}
body.dark .title h2{
    color: #fff;
}
body.dark .title p{
    color: #b7b7b7;
}


body.dark .Naturally .nat__item h4{
    color: #fff;
}
body.dark .Naturally .nat__item {
    box-shadow: 0 1rem 3rem rgb(23 19 19);
    background-color: #222222;
}
body.dark .Naturally .nat__item:hover{
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
body.dark .food .food__item--bottom{
    background: #222222;
    color:#b7b7b7;
}
body.dark .food .food__item--bottom a{
    color: #fff;
}
body.dark .food .food__item--bottom a:hover{
    color: #009f4d;
}
body.dark .contact p{
    color: #b7b7b7;
}
body.dark .contact__text h3,body.dark .contact__item2 h3{
    color: #fff;
}
body.dark .contact__box p{
    color: #fff;
}
body.dark .contact__item2:hover{
    border: 1px solid rgba(255, 255, 255, .2);
}
body.dark .contact__item2:hover h3{
    color: #009f4d;
}
body.dark footer h3{
    color: #fff;
}
body.dark footer .footer__item a{
    color: #b7b7b7;
    transition: 0.5s;
}
body.dark footer .footer__item a:hover{
    color: #fb811e;
}
body.dark .footer__form input{
    background: #0b0d0e;
    border: 1px solid rgba(255, 255, 255, .2);
}



/* Responsive  */
@media screen and (max-width: 1200px)
 {  #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p{
    line-height: 26px;

 }
    
}
@media screen and (max-width: 1190px)
 {  .footer__content h3{
    font-size: 16px;}
}

@media screen and (max-width:1150px) {
    .farmcarousel__left h3{
        font-size: 90px;
    }
    .farmcarousel__left p{
        font-size: 17px;
    }
}

@media screen and (max-width:991px) {
    .title h2{
        line-height: 45px;
        font-size: 35px;   
    }
    .title h4{
        font-size: 20px;
    }
    .banner__item{
        margin: 0;
        padding: 1.5rem 0;
    }
    .banner__content{
        padding-bottom: 1.5rem;
        
      }
      .contact__content3{
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        object-fit: cover;
    }
    .contact__item3 img{
        width: 100%;
    }
    
    .food__bottom .row .food__flex{
        margin-left: 25%;
       }
       .farmcarousel__left h3{
        font-size: 80px;
    }
    .farmcarousel__left{
        left: 2em;
    }
    .footer__content h3{
        margin-bottom: 10px;}  
}
@media screen and (min-width:992px) {
    .contact__flex .col-lg-6:last-of-type{
    
        flex: 0 0 41.66667%;
        margin-left: 8.33333%;
    }
    header .header__content{
        margin: 0 -31px;
     }
    .Naturally .Naturally__content{
        margin: 0 -15px;
    }
    .food .food__content{
        margin: 0 -15px;
    }
    .contact .contact__content1,.contact .contact__content2,.contact .contact__content3{
        margin: 0 -15px;
    }
}
@media screen and (max-width: 801px)
 {  .footer__content h3{
    margin-bottom: 18px;}
}
@media screen and (max-width:767px) {
    .title h2{
        font-size: 32px !important;
        line-height: 42px !important;
    }
    .title h4{
        font-size: 18px !important;
    }
    .header__content .navbar-brand, .header__item2 i, .header__end i{
        color: #fff;
    }
    .cd-top--is-visible .navbar-brand{
        color: #fb811e;
    }
    .farmcarousel__left{
        
        left: 0em;
        padding: 2em;
       
    }
    .farmcarousel__left h3{
        left: 0;
        top: -0.3em;
    }
    .farmcarousel__item{
        background: #fff;
        padding: 3em 2em 2em 4em;
        border-radius: 8px;
    }
    body.dark .farmcarousel__item{
        background: #222222;
    }
    .farmcarousel__content .farmcarousel__right{
        width: 100%;
    }
    .farmcarousel__content .farmcarousel__left{
        width: 100%;
    }
    .Naturally{
        padding: 3rem 0 !important;
    }
    .food{
        padding: 3rem 0;
    }
    .food__bottom .row .food__flex{
        margin-left: 0;
       }
       .contact__box{
        left: -50px;
    }
    .contact{
        padding: 3rem 0;
      }
      .contact__content2{
        padding-top: 1.5rem ;
    }
    .banner__right {
        text-align: center;
    }
    footer{
        padding: 1.5rem 0;
    }
}
@media screen and (max-width:567px) {
    .title h2{
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .farmcarousel__left h3{
        font-size: 70px;
    }
    .food .title{
        padding-bottom: 1.5rem;
        margin-bottom: 0rem;
    }
}
@media screen and (max-width:450px){
    .contact__item4{
        grid-column: 1 / span 2;
    }
}
@media (min-width: 576px){
    .footer__form .form-inline .form--footer {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
    }
 }